<template>
<div class="container">
    <div v-if="show_car">
        <Car :brand_id="brand_id" @backList="backList"> </Car>
    </div>
    <div v-if="!show_car">
        <ValidationObserver v-slot="{ invalid }">
            <div class="brand">
                <h1>Brands</h1>
            </div>
            <div class="mb-4" v-if="show_form">
                <div class="form-group">
                    <validation-provider name="name" rules="required" v-slot="v">
                        <label for="name">Companny name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name here" :class="{'is-invalid': v.errors[0]}" v-model="newBrand.name" />
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <validation-provider name="birth" rules="required" v-slot="v">
                        <label for="fundation_date">Fundation Date</label>
                        <input type="date" class="form-control" id="fundation_date" :class="{'is-invalid': v.errors[0]}" v-model="newBrand.fundation_date" />
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <validation-provider name="adminEmail" rules="required" v-slot="v">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" aria-describedby="emailHelp" placeholder="Name here" :class="{'is-invalid': v.errors[0]}" v-model="newBrand.country" />
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <hr />
                <button v-if="showButtonSave" :disabled="invalid" type="button" class="btn btn-primary" @click="save">
                    Save
                </button>
                <button v-if="!showButtonSave" :disabled="invalid" type="button" class="btn btn-primary" @click="update">
                    Save edit
                </button>
                <button type="button" class="btn btn-danger" @click="reset">
                    cancel
                </button>
            </div>
        </ValidationObserver>
        <table class="table" v-if="brands && showButtonSave &&  !show_form">
            <tr>
                <th>Id</th>
                <th>Companny name</th>
                <th>Fundation Date</th>
                <th>Country</th>
                <th>
                    <button v-if="!show_form" class="btn btn-success" @click="show_form = true">
                        New
                    </button>
                </th>
            </tr>
            <tr :key="brand.id" v-for="brand in this.brands.data">
                <td>{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td>{{ brand.fundation_date }}</td>
                <td>{{ brand.country }}</td>
                <td>
                    <div>
                        <button class="btn btn-danger" @click="remove(brand.id)">
                            Delete
                        </button>
                        <button class="btn btn-primary mx-2" @click="edit(brand)">
                            Edit
                        </button>
                        <router-link  type="button" class="btn btn-warning"  :to="{ name: 'cars', params: {brand_id:brand.id}}">
                            cars
                        </router-link>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</template>

<script>
import Car from "../cars/index";
import {
    ValidationProvider,
    ValidationObserver
} from 'vee-validate';
import {
    BRANDS_QUERY
} from "./queries.js";
import {
    CREATE_BRAND,
    DELETE_BRAND,
    UPDATE_BRAND
} from "./mutations.js";

export default {
    components: {
        ValidationProvider,
        ValidationObserver,
        Car
    },
    apollo: {
        brands: {
            query: BRANDS_QUERY
        }
    },
    data() {
        return {
            show_car: false,
            brand_id: 0,
            newBrand: {
                name: "",
                fundation_date: "",
                country: ""
            },
            updateBrand: {
                id: null,
                name: "",
                fundation_date: "",
                country: ""
            },
            show_form: false,
            showButtonSave: true
        };
    },
    methods: {

        hideCars() {
            this.show_car = false;
        },
        car(id) {
            this.brand_id = id;
            this.show_car = true;
        },
        reset() {
            this.show_form = false;
            this.showButtonSave = true;
            this.newBrand.name = "";
            this.newBrand.fundation_date = "";
            this.newBrand.country = "";
            this.updateBrand.name = "";
            this.updateBrand.fundation_date = "";
            this.updateBrand.country = "";
        },
        remove(id) {
            if (confirm("Are you sure to delete this Brand?")) {
                this.$apollo
                    .mutate({
                        mutation: DELETE_BRAND,
                        variables: {
                            id: id
                        }
                    })
                    .then(response => {
                        this.$apollo.queries.brands.refetch();
                        this.reset();
                    });
            }
        },
        save() {
            this.$apollo
                .mutate({
                    mutation: CREATE_BRAND,
                    variables: {
                        brand: this.newBrand
                    }
                })
                .then(response => {
                    this.$apollo.queries.brands.refetch();
                    this.reset();
                });

        },
        update() {
            if (confirm("Are you sure?")) {
                (this.updateBrand.name = this.newBrand.name),
                (this.updateBrand.fundation_date = this.newBrand.fundation_date),
                (this.updateBrand.country = this.newBrand.country);
                this.$apollo
                    .mutate({
                        mutation: UPDATE_BRAND,
                        variables: {
                            brand: this.updateBrand
                        }
                    })
                    .then(response => {
                        this.$apollo.queries.brands.refetch();
                        this.reset();
                    });
            }
        },
        backList() {
            this.show_car = false;
        },
        edit(brand) {
            this.showButtonSave = false;
            this.show_form = true;
            (this.updateBrand.id = brand.id),
            (this.newBrand.name = brand.name),
            (this.newBrand.fundation_date = brand.fundation_date.split(" ", 1)[0]),
            (this.newBrand.country = brand.country);
        }
    }
};
</script>
