<template>
<div class="container">
    <h1 v-if="!show_form">Cars</h1>
    <button v-if="!show_form" class="btn btn-success my-3" @click="show_form = true">
        New
    </button>
    <div>
        <ValidationObserver v-slot="{ invalid }">
            <div class="mb-4" v-if="show_form">
                <h1>{{status}} car</h1>
                <div class="form-group">
                    <validation-provider name="name" rules="required" v-slot="v">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name here" :class="{'is-invalid': v.errors[0]}" v-model="car.name" />
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <validation-provider name="description" rules="required" v-slot="v">
                        <label for="description">Description</label>
                        <textarea type="textarea" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Description here" :class="{'is-invalid': v.errors[0]}" v-model="car.description"> </textarea>
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <div class="form-group">
                    <validation-provider name="release_date" rules="required" v-slot="v">
                        <label for="release_date">Release release_date</label>
                        <input type="date" class="form-control" id="v" :class="{'is-invalid': v.errors[0]}" v-model="car.release_date" />
                        <div class="invalid-feedback">{{ v.errors[0] }}</div>
                    </validation-provider>
                </div>
                <hr />
                <button v-if="showButtonSave" :disabled="invalid" type="button" class="btn btn-primary" @click="save()">
                    Save
                </button>
                <button v-if="!showButtonSave" :disabled="invalid" type="button" class="btn btn-primary" @click="update()">
                    Save
                </button>
                <button type="button" class="btn btn-danger" @click=" hideCars()">
                    cancel
                </button>
            </div>
        </ValidationObserver>
    </div>
    <div v-if="cars_by_brand && !show_form">
        <div class="row">
            <div class="card text-center col-md-3 mb-5 mx-1" style="width: 18rem;" v-for="car in cars_by_brand" v-bind:key="car.id">
                <div class="card-description">
                    <h2 class="card-title center">Name</h2>
                    <h5 class="card-text">{{car.name}}</h5>
                    <h2 class="card-title">Description</h2>
                    <textarea name="car" v-model="car.description" readonly></textarea>
                    <h2 class="card-title">Release Date</h2>
                    <p class="card-text">{{car.release_date}}</p>
                    <button class="btn btn-danger" @click="remove(car.id)">Delete</button>
                    <button class="btn btn-success" @click="edit(car)">Edit</button>

                </div>
            </div>
        </div>
    </div>
    <div v-if="!show_form">
        <router-link type="button" class="btn btn-danger" :to="{ name: 'brands'}">
            Cancel
        </router-link>
    </div>
</div>
</template>

<script>
import {
    ValidationProvider,
    ValidationObserver
} from 'vee-validate';
import {
    CARSBYBRAND_QUERY
} from "./queries.js";
import {
    CREATE_CAR,
    DELETE_CAR,
    UPDATE_CAR,
} from "./mutations.js";
export default {
    props: ["brand_id"],
    components: {
        ValidationProvider,
        ValidationObserver,
    },
    apollo: {

        cars_by_brand: {
            query: CARSBYBRAND_QUERY,
            variables() {
                return {
                    brand_id: this.$route.params.brand_id
                };
            }
        },
    },
    data() {
        return {
            status: "New",
            show_form: false,
            car_id: null,
            car: {
                name: "",
                description: "",
                brand_id: this.$route.params.brand_id,
                release_date: ""
            },
            showButtonSave: true,
        }
    },
    methods: {
        hideCars() {
            this.reset();

        },
        backList() {
            this.$emit("backList");
        },
        reset() {
            this.show_form = false;
            this.showButtonSave = true;
            this.status = "new";
            this.car.name = "";
            this.car.release_date = "";
            this.car.description = "";
        },
        save() {
            this.$apollo
                .mutate({
                    mutation: CREATE_CAR,
                    variables: {
                        car: this.car
                    }
                })
                .then(response => {
                    this.$apollo.queries.cars_by_brand.refetch();
                    this.reset();
                });

        },
        remove(id) {
            if (confirm("Are you sure?")) {
                this.$apollo
                    .mutate({
                        mutation: DELETE_CAR,
                        variables: {
                            id: id
                        }
                    })
                    .then(response => {
                        this.$apollo.queries.cars_by_brand.refetch();
                    });
            }
        },
        update() {
            if (confirm("Are you sure?")) {
                this.$apollo
                    .mutate({
                        mutation: UPDATE_CAR,
                        variables: {
                            id: this.car_id,
                            car: this.car
                        }
                    })
                    .then(response => {
                        this.$apollo.queries.cars_by_brand.refetch();
                        this.reset();
                    });
            }
        },
        edit(car) {
            this.status = "Update";
            this.car_id = car.id;
            this.showButtonSave = false;
            this.show_form = true;
            (this.car.name = car.name),
            (this.car.release_date = car.release_date.split(" ", 1)[0]),
            this.car.description = car.description
        },

    },
    mounted() {
        console.log('Component mounted.')
    }
}
</script>
